.panel {
    position: absolute;
    width: 20vw;
    height: calc(100vh - 3rem);
    top: 3rem;
    background: #141414;
    color: white;
    overflow-y: scroll;
    overflow-x: hidden;
}

.panel .entity-element {
    cursor: pointer;
}

.panel .entity-element.selected {
    font-size: 2rem;
    color: green;
}